:root {
  --main-color: #3A344F;
  --purple: #5D32D6;
  --purple-hover: #481cc2;
  --modal-header-bg: #252525;
}

body,
.main {
  overflow-x: hidden;
}

/*main-page*/
.main-page {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.main-page__bg {
  flex-grow: 1;
  background: url(../img/bg.svg) center center no-repeat;
  background-size: cover;
}

.main-page__sidebar {
  width: 628px;
  flex-shrink: 0;
  background-color: rgba(var(--bs-primary-rgb), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--bs-white);
}

.main-page__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -314px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: calc(1.5rem + .9vw);
  font-weight: 500;
  color: var(--bs-white);
}

.main-page__title {
  margin-bottom: 2rem;
}

.main-page-form {
  width: 295px;
}

@media only screen and (max-width : 1024px) {
  .main-page {
    display: block;
    min-height: 520px;
  }

  .main-page__bg {
    display: none;
  }

  .main-page__sidebar {
    width: 100%;
    height: 100%;
    min-height: 520px;
  }

  .main-page__logo {
    top: 20%;
    margin-left: 0;
  }
}

/*layout*/
.layout {
  background-color: #EBEEF5;
  min-height: 100vh;
  padding-left: 95px;
  padding-top: 70px;
  transition: padding-left .25s linear;
  display: flex;
}

@media only screen and (min-width : 1024px) {
  .layout.open {
    padding-left: 308px;
  }
}

/*header*/
.header {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.header__wrap,
.header__right,
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrap {
  height: 70px;
}

.header__left {
  gap: 48px;
}

.user-menu-btn {
  display: flex;
  align-items: center;
  gap: .375rem;
}

.ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.ava img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu-btn,
.search-btn {
  display: none
}

/*sidebar*/
.sidebar {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  top: 70px;
  background-color: rgba(var(--bs-primary-rgb), 1);
  width: 95px;
  transition: all .24s linear;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 70px); */
}

.sidebar.open {
  width: 308px;
}

.sidebar-nav {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.sidebar-nav::-webkit-scrollbar {
  width: 6px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background: rgba(var(--bs-primary-rgb), 1);
  background-color: rgba(var(--bs-primary-rgb), 1);
  border: none;
  box-shadow: none;
  outline: none;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background: rgba(var(--bs-light-rgb), 1);
  background-color: rgba(var(--bs-light-rgb), 1);
  border-radius: 3px;
  border: none;
}

.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--bs-light-rgb), 1);
  background-color: rgba(var(--bs-light-rgb), 1);
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}

.sidebar-nav ul ul {
  display: none;
  background-color: #253544;
}

.open+ul {
  display: block !important;
}

.open.sidebar~.main {
  padding-left: calc(218px + .75rem);
}

@media only screen and (min-width : 1024px) {
  .sidebar:hover {
    width: 308px;
  }

  .sidebar:hover~.main {
    padding-left: calc(218px + .75rem);
  }

  .sidebar:hover .sidebar-nav-item--right span {
    transform: rotate(180deg);
  }

  .sidebar:hover .sidebar-nav-item {
    padding-left: 27px;
  }

  .sidebar:hover .sidebar-nav-item__arrow,
  .sidebar:hover .sidebar-nav-item__txt {
    opacity: 1;
  }
}

@media only screen and (max-width : 767px) {}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 20px 12px 32px;
  color: #fff;
  text-decoration: none;
  transition: background-color .25s linear, padding .25s linear;
  width: 308px;
}

.sidebar-nav-item--right {
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(var(--bs-primary-rgb), 1);
}

.sidebar-nav-item--right.sidebar-nav-item__icn {
  transition: transform .25s linear;
}

.show-mob-menu .sidebar-nav-item--right .sidebar-nav-item__icn,
.open .sidebar-nav-item--right .sidebar-nav-item__icn {
  transform: rotate(180deg);
}

.open .sidebar-nav-item--right {
  padding-right: 20px;
}

.sidebar-nav-item__icn {
  font-size: 24px;
  color: #fff;
}

.sidebar-nav-item__txt {
  flex-grow: 1;
  transition: opacity .25s linear;
  opacity: 0;
}

.sidebar-nav-item.active,
.sidebar-nav-item:hover {
  background-color: #253544;
}

.sidebar-nav-item__arrow {
  color: #fff;
  transition: opacity .25s linear, transform .25s linear;
}

.sidebar-nav-item.open .sidebar-nav-item__arrow {
  transform: rotate(180deg);
}

.sidebar-nav ul ul .sidebar-nav-item {
  padding-left: 68px !important;
}

.sidebar-nav ul ul .sidebar-nav-item:hover {
  background-color: rgba(var(--bs-primary-rgb), 1);
}

.sidebar.open .sidebar-nav-item {
  padding-left: 27px;
}

.sidebar.open .sidebar-nav-item__arrow,
.sidebar.open .sidebar-nav-item__txt {
  opacity: 1;
}

/*main*/
.main {
  padding: .75rem;
  transition: padding .24s linear;
  width: 100%;
}

/*table-wrap*/
.block {
  background-color: var(--bs-body-bg);
  box-shadow: 0 1px 2px var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  /*  padding: .375rem .75rem;*/
}

/*tools-header*/
.tools {
  display: flex;
  align-items: center;
}

.tools .btn:not(:first-child) {
  border-radius: 0;
}

.tools .btn:first-child {
  border-bottom-left-radius: 0;
}

/*row*/
.main-table th {
  white-space: nowrap;
}

.main-table td:first-child,
.main-table th:first-child {
  border-left: none;
}

.main-table td:last-child,
.main-table th:last-child {
  border-right: none;
}

.main-table.table {
  margin-bottom: 0;
}

.table-handle {
  cursor: grab;
}

.table-handle:active {
  cursor: grabbing;
}

.table .form-check {
  margin-bottom: 0;
}

.table td {
  vertical-align: middle;
}

.lv-2 {
  padding-left: 1rem;
}

.lv-3 {
  padding-left: 3rem;
}

.main-table-footer {
  padding-top: calc(var(--bs-gutter-x)* 0.5);
  padding-bottom: calc(var(--bs-gutter-x)* 0.5);
}

.main-table-footer .pagination {
  margin-bottom: 0;
}

.counter {
  flex-grow: 1;
  text-align: right;
}

.bg-color {
  background-color: #EBEEF5;
}

.page-link {
  background-color: var(--purple);
}

.page-link:hover {
  background-color: #4921b6;
}

.main-bg {
  background-color: var(--main-color);
}

.bg-purple {
  background-color: var(--purple);
}

.breadcrumb a {
  color: black;
}

.level-1 td:nth-child(2) {
  padding-left: 1.3rem;
}

.level-2 td:nth-child(2) {
  padding-left: 3.2rem;
}

.level-2 td:nth-child(2) button {
  display: none;
}


.grid-container {
  display: grid;
  grid-template-columns: 5% 15% repeat(6, calc(85% / 6));
  /* 1 column at 5%, 7 columns equally distributed */
  /* gap: 1px; */
  min-width: 1300px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 5% 17% 17% 17% 44%;
  /* 1 column at 5%, 7 columns equally distributed */
  /* gap: 1px; */
  min-width: 838px;
}

.grid-item {
  background-color: #fff;
  /* cell background color */
  padding: 0.5rem 0.5rem;
  /* border: 1px solid #ccc; */
  text-align: center;
  border-top: 1px solid #80808059;
  white-space: nowrap;
}

.grid-item:not(:first-child) {
  border-left: 1px solid #80808059;
}

.grid-header {
  font-weight: 500;
  /* style for header cells */
  background-color: white;
  /* different background for header */
  font-size: 14.4px;
}

.grid-table-content {
  list-style-type: none;
  /* remove default list styling */
  padding: 0;
  margin: 0;
  display: contents;
  /* treat li elements as direct children of the grid */
}

.grid-table-content li div {
  /* border: 1px solid #ccc;  */
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.ui-sortable {
  border-left: 1px solid #80808059;
  border-bottom: 1px solid #80808059;
  padding: 0 !important;
}

.ui-sortable li {
  background-color: white;
}

.table-row-item {
  border-top: 1px solid #80808059;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  font-size: 14.4px;
  font-weight: 400;
}

.table-row-item:not(:last-child) {
  border-right: 1px solid #80808059;
}

.branch-level-2,
.branch-level-3 {
  margin-left: 0;
}

.branch-level-2 .checkbox-area {
  margin-left: 30px;
}

.branch-level-3 .checkbox-area {
  margin-left: 75px;
}

.hide-child {
  display: none;
}

.opened i::before {
  transform: rotate(-90deg);
}

::-webkit-input-placeholder {
  color: #1C162F !important;
  opacity: 0.31 !important;
}

:-ms-input-placeholder {
  color: #1C162F !important;
  opacity: 0.31 !important;
}

::-moz-placeholder {
  color: #1C162F !important;
  opacity: 0.31 !important;
}

:-moz-placeholder {
  color: #1C162F !important;
  opacity: 0.31 !important;
}

.modal-bg {
  background-color: var(--modal-header-bg);
}

.modal-dialog {
  max-width: 936px;
}

.form-check-input {
  height: 1.1rem;
}

.form-switch .form-check-input {
  width: 2.3rem;
}

.form-check-input:checked {
  background-color: var(--purple-hover);
  border-color: var(--purple-hover);
}

.form {
  position: relative;
}

.form .bi-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: #D5D5D5;
}

.tree-menu ul {
  list-style-type: none;
  padding-left: 1rem;
}

.tree-menu ul:first-child li {
  margin-bottom: 1rem;
}

.tree-menu ul li:first-child {
  margin-top: 0.5rem;
}

.tree-menu ul:not(:first-child) li {
  margin-bottom: 0.5rem;
}

.tree-menu li {
  position: relative;
}

.tree-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.tree-menu li a i {
  margin-left: 7px;
  transition: transform 0.3s;
  -webkit-text-stroke: 1px;
  font-size: 10px;
}

.tree-menu li a:not(.collapsed) i {
  transform: rotate(90deg);
}

.facality-btn {
  max-width: 296px;
  width: 100%;
}

.bg-purple:hover {
  background-color: var(--purple-hover) !important;
}

.border-burple {
  border: 1px solid var(--purple-hover) !important;
}

.btn-outline-purple {
  background-color: white !important;
  border: 1px solid var(--purple) !important;
  color: var(--purple) !important;
}

.btn-outline-purple:hover {
  background-color: var(--purple) !important;
  color: white !important;
}

.nav-link.active,
.nav-link {
  color: #1C162F !important;
}

.preview-component {
  overflow-y: auto;
  max-height: 200px;
}

.form-control.is-valid {
  background-image: url(../img/is-valid.svg) !important;
}

.form-control.is-valid {
  box-shadow: 0 0 0 0.25rem rgba(var(--purple), 0.25) !important;
  background-color: #F9F7FF !important;
}

.w-15 {
  width: 15%;
}

.w-85 {
  width: 85%;
}

.popup-tree li {
  position: relative;
}

.facality-menu-list li {
  margin: 0 !important;
}

.facality-menu-list li a {
  padding: 0.3rem 0;
}

.facality-menu-list li a:hover,
.popup-tree li div:hover {
  background-color: #EFEFEF;
}

.facality-menu-list li ul li a:focus,
.popup-tree li ul li a:focus {
  color: var(--purple);
}

.element-form {
  position: relative;
}

.form.element-form .form-input:focus+i,
.form.element-form .form-input:focus~i {
  display: none;
}

.popup-tree li a {
  padding: 5px 0;
}

.popup-tree li a::after {
  position: absolute;
  top: 7px;
  left: -30px;
}

/* .popup-tree li:nth-child(odd) a::after {
  content: url(../img/tree-icon-1.svg);
}

.popup-tree li:nth-child(even) a::after {
  content: url(../img/tree-icon-2.svg);
} */

.card-tabs li a {
  padding: 0.4rem 0.8rem !important;
}

.modal-body .nav-tabs .nav-link {
  margin-bottom: -3px;
}

.type-dropdown-container {
  position: relative;
  display: inline-block;
}

.type-icons {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.type-icons i {
  margin: 0 !important;
}

.type-icons .btn-close {
  background-size: 15px;
}

.type-dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.type-dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.type-dropdown-item:hover {
  background: #f1f1f1;
}

.burger-menu {
  display: none;
  width: 27px;
  min-width: 27px;
  height: 27px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
  z-index: 10;
}

.burger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #494559;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger-menu span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.burger-menu span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

.burger-menu span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 2px;
  left: 4px;
}

.burger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 4px;
}

.show-mob-menu {
  left: 0 !important;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../img/calendar.svg) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.table-responsive {
  max-height: 72vh;
  overflow-y: auto;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-responsive::-webkit-scrollbar-track {
  background: #F1F1F1;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
}

.card-header {
  background: none;
}

.note-btn-group .note-btn {
  border: none;
}

.note-editor {
  width: 85%;
  background-color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: url(../img/swiper-arrow.svg);
  position: absolute;
  top: -6px;
}

.swiper-button-prev {
  left: 0;
  transform: rotate(180deg);
}
.swiper-button-next {
  right: 0;
}

.swiper-container {
  width: 100%;
  position: relative;
}

.delete-check i {
  position: absolute;
  right: 8px;
  top: 3px;
  font-size: 0.75rem;
  color: #938ea394;
}

.delete-check.form-switch .form-check-input:checked + i {
  display: none;
}

@media (max-width: 640px) {
  .modal-top-btns {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #E4E7EC;
    padding: 0 !important;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
  }

  .modal-main-content {
    margin-top: 20px !important;
  }

  .header__right>button:first-child,
  .sidebar-nav-item--right {
    display: none;
  }

  .sidebar,
  .sidebar-nav-item {
    width: 100%;
  }

  .sidebar {
    left: -100%;
  }

  .layout {
    padding-left: 0;
  }

  .burger-menu {
    display: block;
  }

  .main-table-footer {
    flex-direction: column;
  }

  .main-table-footer nav:first-child {
    order: 2;
  }

  .main-table-footer nav:last-child {
    order: 1;
  }

  .main-table-footer .counter {
    order: 3;
  }

  .sidebar-nav-item__txt {
    opacity: 1;
  }
}

@media (max-width: 575px) {

  input[type='datetime-local'],
  input[type='date'],
  .mob-w-100 {
    width: 100% !important;
  }

  .modal-btns {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #E4E7EC;
    padding: 1rem !important;
    justify-content: center !important;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1000;
  }

  .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .modal-dialog .modal-content {
    border: none;
    height: 100%;
  }

  .modal-header,
  .modal-dialog .modal-content,
  .modal-dialog {
    border-radius: 0;
  }

  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
    padding-bottom: 4rem !important;
  }

  .modal-content label {
    font-size: 14px;
  }
}